<div class="habit-container">
  <nav class="habit-navbar">
    <h2>لیست عادت‌ها 🌱</h2>
    <button class="add-btn" routerLink="edit-habits">+</button>
  </nav>

  <p class="habit-subtext">هر روزت رو با رشد شروع کن 💛</p>

  <div class="habit-list">
    <div class="habit-card mint">
      <span class="habit-title">مطالعه کتاب</span>
      <button class="habit-btn" routerLink="/habit-details">مشاهده</button>
    </div>

    <div class="habit-card lilac">
      <span class="habit-title">ورزش روزانه</span>
      <button class="habit-btn">مشاهده</button>
    </div>

    <div class="habit-card peach">
      <span class="habit-title">مدیتیشن</span>
      <button class="habit-btn">مشاهده</button>
    </div>

    <div class="habit-card lemon">
      <span class="habit-title">نوشتن روزانه</span>
      <button class="habit-btn">مشاهده</button>
    </div>
  </div>
</div>
