.habit-container {
  font-family: "IRANSans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1.5rem;
  background: radial-gradient(circle at top left, #fdfdfd, #f4f7f6);
  direction: rtl;
  text-align: right;
  border-radius: 15px;
}

.habit-navbar {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  padding: 0.8rem 1rem;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}

.add-btn {
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(180, 180, 180, 0.3);
  cursor: pointer;
  color: #333;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background: rgba(255, 255, 255, 0.6);
}

.habit-subtext {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: #5f5f5f;
  text-align: right;
  font-weight: 500;

}

.habit-list {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.habit-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  padding: 0.7rem 1.1rem;
  color: #1e293b;
  font-weight: 500;
  backdrop-filter: blur(12px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.mint {
  background: linear-gradient(135deg, #a8f0ce 0%, #c8ffee 100%);
}

.lilac {
  background: linear-gradient(135deg, #d8c9ff 0%, #ebe3ff 100%);
}

.peach {
  background: linear-gradient(135deg, #ffb6a3 0%, #ffd3c8 100%);
}

.lemon {
  background: linear-gradient(135deg, #fff3a9 0%, #fff8cc 100%);
}

/* عنوان عادت سمت راست */
.habit-title {
  flex: 1;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  font-family: "IRANSans";

}


.habit-btn {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 999px;
  padding: 0.4rem;
  font-size: 0.70rem;
  cursor: pointer;
  color: #333;
  box-shadow:
    inset 0 1px 3px rgba(255, 255, 255, 0.6),
    0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
  font-family: "IRANSans";
}

.habit-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-2px);
}
